html, body, #app {
  height: 100%;
  width: 100%;
  background-color: rgb(240, 181, 105);
}

.bud-pic {
  width: 10%;
}

/*
---------------Battle Screen----------------
*/

.battle-screen {
  border: 1px solid black;
}

/*
---------------Buttons----------------
*/
.button:hover {
  cursor: pointer;
}

/*
---------------Buds window----------------
*/
.choose-window {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
}
.bud-window {
  display: grid;
  grid-template-rows: 65%;
  border: black solid;
  border-radius: 15px;
  height: 200px;
  margin: 5px;
}
.bud-window:hover {
  cursor: pointer;
}
.bud-pic {
  width: 95%;
  height: 95%;
  margin: 2.5%;
}