html, body, #app {
  /* height: 90%; */
  /* width: 90%; */
}
body {
  background-color: #6545B2;
  font-family: 'Goldman', 'Courier New', Courier, monospace;
}
#app {
  border: black dotted;
  height:700px;
  width: 1000px;
  background-color: rgba(0, 0, 0,0);
  overflow: hidden;
}

.bud-pic {
  width: 10%;
}

/*
---------------Buttons----------------
*/
.home-screen-housing {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  height: 100%;
  width: 100%;
}
.battle-start-button {
  grid-column: 2;
  grid-row: 2;
  /* font-size: 69px;
  text-transform: uppercase;
  background-color: cornflowerblue;
  border-radius: 15px 75px;
  box-shadow: 25px 15px black;*/
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 20px 70px;
  font-size: 52px;
  border: 1px solid #2d6898;
  background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(73,132,180)),
      color-stop(1, rgb(97,155,203))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
.button:hover {
  cursor: pointer;
}
.button {
  font-family: 'Goldman', 'Courier New', Courier, monospace;
}

/*
---------------Buds window----------------
*/
.choose-bud-title {
  text-align: center;
  font-size: 42px;
}
.choose-window-box {
  height: 580px;
  overflow: scroll;
}
.choose-window {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
}
/*
---------------Buds cards----------------
*/
.bud-window {
  display: grid;
  grid-template-rows: 65%, 10%, 10%, 10%;
  border: black solid;
  border-radius: 15px;
  background-color: aquamarine;
  max-width: 300px;
  max-height: 400px;
  margin: 5px;
}
.bud-window:hover {
  cursor: pointer;
}
.bud-pic {
  width: 95%;
  max-height: 95%;
  margin: 2.5%;
  grid-row: 1;
  border-radius: 10px;
}
.bud-name {
  grid-row: 2;
}
.bud-health {
  grid-row: 3;
}
.bud-type {
  grid-row: 4;
}
#evil-bud .bud-pic {
  transform: scaleX(-1);
}
/*
---------------Attacks----------------
*/
.move-list-box {
  display: grid;
}
.move-button:hover {
  cursor: pointer;
}
/*
---------------Battle Screen----------------
*/
.battle-screen {
  display: grid;
  grid-template-columns: [first] 300px [line2] auto [last] 300px;
  grid-template-rows: [start] 70% [end] auto ;
  height: 100%;
}

#evil-bud {
  grid-row: 1;
  grid-column: 3;
}

/*
---------------Battle Screen----------------
*/
.move-list-box {
  grid-column: 1 / span 3;
  grid-row: 2;
}

/*
---------------After game----------------
*/

.last-game-state {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  font-size: 52px;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}